.BuildControls {
  width: 100%;
  background-color: #977bb8;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0 2px 1px #ccc;
  margin: auto;
  padding: 10px 0;
  font-family: "Solway", serif;
}

.Price {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.OrderButton {
  background-color: #fdfb83;
  outline: none;
  cursor: pointer;
  border: 1px solid #966909;
  color: #966909;
  font-family: inherit;
  font-size: 1.2em;
  padding: 15px 30px;
  box-shadow: 2px 2px 2px #462c52;
  margin-top: 15px;
  border-radius: 10px;
  transition-duration: 100ms;
}

.OrderButton:hover,
.OrderButton:active {
  background-color: #c6fc70;
  border: 1px solid #966909;
  color: #966909;
  transform: scale(1.1);
}

.OrderButton:disabled {
  background-color: #c7c6c6;
  cursor: not-allowed;
  border: 1px solid #ccc;
  color: #888888;
}

.OrderButton:disabled:hover {
  transform: scale(1);
}

.OrderButton:not(:disabled) {
  animation: enable 0.3s linear;
}

@keyframes enable {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media (min-width: 1000px) {
  .BuildControls {
    height: 75vh;
    width: 400px;
    display: flex;
    margin: 0;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
  }
}
