.UpdateStatusCard {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 15px;
  position: relative;
  font-family: "Mali", serif;
  text-align: center;
}

.UpdateStatusCard h2 {
  margin: 10px 0 0 0;
  padding-top: 20px;
  text-align: center;
  font-size: 2rem;
  color: green;
}

.UpdateStatusCard h3 {
  margin: 10px 0 0 0;
  padding-top: 30px;
  text-align: center;
  font-size: 2rem;
  color: red;
}

.UpdateStatusCard h5 {
  text-align: center;
  font-size: 1rem;
  margin: 20px 40px;
}

.UpdateStatusCard h5 span {
  color: red;
}

.Cancel {
  width: 20px;
  position: absolute;
  top: 3%;
  right: 3%;
  cursor: pointer;
  transition: all 0.3s;
}

.Cancel:active {
  transform: scale(0.9);
}

.Correct {
  width: 23%;
  margin-top: 30px;
  padding-right: 30px;
  animation-name: correctAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

@keyframes correctAnimation {
  0% {
    transform: rotateZ(-35deg) translateX(0) translateY(0);
  }
  50% {
    transform: rotateZ(45deg) translateX(30px) translateY(0);
  }
  100% {
    transform: rotateZ(-35deg) translateX(0) translateY(0);
  }
}
