.ForgotPasswordForm {
  width: 100%;
  height: 100%;
  font-family: "Mali", cursive;
  overflow: hidden;
  text-align: center;
}

.ForgotPasswordForm_Text {
  animation-name: slide;
  animation-duration: 0.3s;
}

.Email,
.Password {
  margin-bottom: 10px;
  width: 80%;
  height: 30px;
}

.Link {
  text-decoration: none;
}

.ButtonBox {
  width: 80%;
  margin: 0 auto 40px auto;
  display: flex;
  justify-content: center;
}

.SubmitButton {
  width: 150px;
  height: 40px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
}

@keyframes slide {
  0% {
    transform: translateY(-150px);
  }

  100% {
    transform: translateY(0);
  }
}
